.bookings-container {
  height: min-content;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 40px;
  width: 374px;
  z-index: 5000;
}

.guest-picker-container {
  z-index: 500;
}

.summary-cont {
  z-index: 0;
}

.guests-header,
.dates-header {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin-top: 20px;
  margin-bottom: 1px;
}

.summary-wrapper {
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin: 0px !important;
  border: 1px solid #e4e4e4 !important;
  background-color: #ffffff !important;
}

.price-per-night {
  margin-top: 12px;
}

.money {
  font-size: 22px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  color: rgb(72, 72, 72) !important;
  font-weight: 800;
}

.per-night {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.ratings {
  margin-top: 6px;
  margin-bottom: 5px;
  background: transparent;
  cursor: pointer;
  border: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stars {
  padding-top: 1px;
  padding-right: 5px;
}

.ratings:focus {
  outline: 0;
}

.ratings-count {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
  margin-left: 5px;
  padding-top: 4px;
}

.clears-dates-container {
  padding: 0px 30px 35px;
}

.clears-dates-bookings {
  float: right;
  color: var(--color-text-link, #008489) !important;
  font-size: 14px;
  font-weight: 350;
  line-height: 1.375em !important;
  font-family: var(
    --font-font_family,
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif
  ) !important;
  text-decoration-line: var(--font-link-text-decoration-line, none);
  background: transparent !important;
  border: 0px !important;
  cursor: pointer !important;
  margin: 0px !important;
  padding: 0px !important;
}

.clears-dates-bookings:hover {
  text-decoration-line: underline;
}

.upper-border,
.bottom-border {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ebebeb !important;
  margin-top: 7px;
  margin-bottom: 10px;
}

.book-button {
  background: rgb(255, 90, 95);
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(
    --font-button-font-family,
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif
  ) !important;
  font-weight: 600;
  color: white;
  text-align: center;
  cursor: pointer;
  position: static;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 15px;
}

.guest-text-area {
  margin-top: 10px;
  margin-bottom: 10px;
}

.guestsType {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 16px;
  color: #484848;
  font-weight: 500;
}

.guestsDesc {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  padding-top: 5px;
}

.single-guest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.guest-button-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.subtract-button,
.add-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: #008489;
  outline: none;
  cursor: pointer;
  justify-items: center;
  align-items: center;
  padding-left: 7px;
  padding-top: 2px;
}

.subtract-button:active,
.add-button:active {
  box-shadow: 0 0 2px 2px #008489;
  outline: none;
  border-color: #008489;
}

.subtract-button:disabled,
.add-button:disabled {
  border-color: rgba(0, 132, 137, 0.3);
}

.subtract-button:disabled svg,
.add-button:disabled svg {
  fill: rgba(0, 132, 137, 0.3);
}

.typeCount {
  width: 15px;
  height: 15px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 16px;
  color: #484848;
  font-weight: 500;
  padding-top: 11px;
  margin-left: 20px;
  margin-right: 10px;
}

.add-icon {
  height: 24px;
  width: 24px;
  display: block;
  fill: #008489;
}

.subtract-icon {
  height: 24px;
  width: 24px;
  display: block;
  fill: #008489;
}

.reassurance {
  text-align: center;
  width: 100%;
  position: static;
  padding: 7px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(72, 72, 72);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
}

.reporting-container {
  width: 100%;
}

.reporting-cell {
  width: max-content;
  margin: auto;
}

.reporting-flex {
  display: flex;
  flex-direction: row;
  font-family: var(
    --font-font_family,
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif
  ) !important;
  color: #484848;
  font-size: 14px;
  margin-top: 10px;
  padding: 0px;
  cursor: pointer;
  border: 0;
  text-decoration-line: none;
  align-content: center;
  justify-content: center;
}

.reporting-flex:hover {
  text-decoration-line: underline;
}

.reportIcon {
  height: 15px;
  width: 15px;
  display: block;
  fill: currentColor;
  margin: 5px;
}

.report {
  align-self: center;
}
