.bookings-container {
  height: 15vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 40px;
}

.summary-wrapper {
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin: 0px !important;
  border: 1px solid #e4e4e4 !important;
  background-color: #ffffff !important;
}

.money {
  font-size: 22px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  color: rgb(72, 72, 72) !important;
  font-weight: 800;
}

.per-night {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.ratings-count {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.33333em !important;
  color: rgb(72, 72, 72) !important;
  margin: 0px !important;
}

.upper-border,
.bottom-border {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ebebeb !important;
}
