.bookings-container {
  height: 15vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 40px;
}

.summary-wrapper {
  border: solid;
  border-width: 1px;
  padding: 10px;
}

.upper-border,
.bottom-border {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ebebeb !important;
}
