.DateRangePicker_picker {
  z-index: 5000;
}

.DateRangePickerInput,
.DateRangePicker {
  width: 100%;
}

.DateInput {
  margin-left: 15px;
}

.CalendarDay__selected_span {
  color: rgb(255, 255, 255);
  background: rgb(0, 166, 153);
  border: 1px solid #00a699;
}

.CalendarDay__selected {
  color: rgb(255, 255, 255);
  background: rgb(0, 166, 153);
  border: 1px solid #00a699;
}

.CalendarDay__selected:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 166, 153);
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  color: rgb(255, 255, 255);
  background: rgb(0, 166, 153);
  border: 1px solid #00a699;
}
