.summary-container {
  margin-top: 20px;
}

.cleaning-left,
.service-left,
.tax-left,
.due-later-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.payment-details-container {
  display: flex;
  flex-direction: row;
}

.title,
.due-later-text {
  margin-right: 5px;
}

.icon {
  height: 15px;
  width: 15px;
  display: block;
  fill: rgb(72, 72, 72);
}

.icon:hover {
  fill: rgb(0, 132, 137);
  cursor: pointer;
}

.question {
  position: relative;
  outline: none;
  padding: 0;
  margin: 0;
  border: transparent;
  width: 15px;
  height: 15px;
  z-index: 0;
}
.question:focus > .icon {
  fill: rgb(216, 216, 216);
}

.nights-row,
.cleaning-row,
.service-row,
.tax-row,
.total-row,
.due-now-container,
.due-later-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.2857142857142858em !important;
  color: #484848 !important;
}

.payment-details-text {
  font-size: 9px;
  color: rgb(72, 72, 72);
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  margin-right: 5px;
}

.due-now-text,
.due-now {
  color: rgb(72, 72, 72);
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.summary-border {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #ebebeb !important;
  margin-top: 7px;
  margin-bottom: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 304px;
  background-color: white;
  color: #484848;
  text-align: left;
  padding: 5px 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  padding: 35px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 5001;
}

.tooltip .tooltiptext::after {
  content: ' ';
  border-style: solid;
  border-width: 1px;
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 80%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  z-index: 2;
}
.tooltip .tooltiptext::before {
  content: ' ';
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 80%;
  margin-left: -11px;
  border-width: 11px;
  border-style: solid;
  border-color: rgb(235, 235, 235) transparent transparent transparent;
  z-index: 2;
}

.cleaning-tip {
  bottom: 245%;
  right: -355%;
}

.service-tip {
  bottom: 245%;
  right: -355%;
}

.tax-tip {
  bottom: 245%;
  right: -355%;
}
.due-tip {
  bottom: 245%;
  right: -355%;
}

.x-button {
  position: absolute;
  top: 15%;
  left: 90%;
  cursor: pointer;
}

.icon3 {
  height: 12px;
  width: 12px;
  display: block;
  fill: rgb(118, 118, 118);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:focus .tooltiptext {
  visibility: visible;
  z-index: 5001;
}
